﻿table {
    border-collapse: separate;
    border-spacing: 0 2rem;
    margin-top: -2rem; /* counter-act border spacing above the header*/
}

thead tr {
    background-color: rgba(0, 0, 0, 0.05);
}

.movie-entries-table th, td {
    border: 1px solid #dee2e6;
}


.movie-entries-table-body-row {
    background-color: white;
}

.movie-entries-table-column-provider {
    width: 75%;
    text-align: left;
    vertical-align: middle;
}

.movie-entries-table-column-price {
    width: 25%;
    text-align: center;
    vertical-align: middle;
}
