﻿body {
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
    background-color: #f2f2ff;
}

.logo-banner {
    margin-top: -1rem;
    margin-bottom: -2rem;
}

.movie-information-container {
    min-height: 68vh;
}
